.button {
    background-color: transparent;
    border: 1px solid rgb(136, 136, 136);
    border-radius: 50%; 
    cursor: pointer;
    width: 35px;
    height: 35px;
}

.button__name {
    display: flex;
    justify-content: center;
    align-items: center;
}
