.tableContainer {
    overflow-x: auto;
}

.table__caption {
    font-size: 20px;
    text-align: left;
    padding: 10px;
}

.table__caption--dark {
    color: var(--color-text-dark);
}

.table {
    background-color: var(--color-table-background);
    border-collapse: collapse;
    font-family: 'Raleway', sans-serif;
    box-shadow: 0px 6px 5px -2px var(--color-shadow);
    margin: 0 auto;
}

.table__cell {
    border: 1px solid azure;
    text-align: center;
    padding: 15px 40px;
}

@media (max-width: 576px) {
    .table__cell {
        padding: 10px 24px;
        font-size: var(--font-table-mobile);
    }
}

@media (max-width: 768px) {
    .table__cell {
        padding: 15px 30px;
        font-size: var(--font-table-mobile);
    }
}

.table__cell--header {
    background-color: var(--color-table-cell);
}

.table__row:nth-child(even) {
    background-color: var(--color-table-row);
}

.table__row:hover {
    background-color: var(--color-table-row-hover);
}